@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
	border: ;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	/* background-image: linear-gradient(180.7deg, rgba(0, 213, 255, 1) 2.5%, rgba(79, 255, 255, 1) 97.7%); comment */
}

 
.navbar {
    width: 100%;
    height: 70px;
    border: none;
}
.navbar {
    padding: 5px 10px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.navitem {
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 70%;
}

.logo {
    width: 60px;
}

.login {
    margin-right: 0px;
}
.logo{
    width: 220px;
    background-image:url("CourseitBGremoved2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
    
}

.navbar a {
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    color: #000;
}

.dropdown {
    border: none;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    padding: 0px 5px;
    gap: 4px;
}

.searchtxt {
    flex-grow: 5;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 5px;
    border: none;
    height: 25px;
    padding: 0px 5px;
}

.searchbtn {
    height: 25px;
    width: 30px;
    background-image: url("./image/search.png");
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    border: none;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 30%;
    transition: 0.5s ease-in-out;
}

.searchbtn:hover {
    color: #fff;
    background-color: rgba(58, 53, 53, 0.844);
    background-image: url("./image/searchw.png");
}

.login,
.dropdown,
.fseminar {
    transition: 0.6s ease-in-out;
}

.login:hover,
.dropdown:hover,
.fseminar:hover {
    background-color: rgb(48, 47, 47);
    color: #fff;
}

.form{
	border: 5px solid rgb(248, 247, 247);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	background-color: #fff;
	background-image: radial-gradient(circle, #ffffff, #e9effe, #c7e3fc, #99d9f3, #65cfdf, #4fcfd8, #39cfce, #26cfc2, #2adbce, #2fe7da, #33f3e6, #37fff3);

}
.form-structor {
	border: 0;
	background-color: #000000;
	border-radius: 15px;
	height: 680px;
	width: 450px;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		opacity: .8;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: url(img.jpg);
		/* 'https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100'*/
	
	
	}

	.signup {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		width: 65%;
		z-index: 5;
		-webkit-transition: all .3s ease;


		&.slide-up {
			top: 5%;
			-webkit-transform: translate(-50%, 0%);
			-webkit-transition: all .3s ease;
		}

		&.slide-up .form-holder,
		&.slide-up .submit-btn {
			opacity: 0;
			visibility: hidden;
		}

		&.slide-up .form-title {
			font-size: 1em;
			cursor: pointer;
		}

		&.slide-up .form-title span {
			margin-right: 5px;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
		}

		.form-title {
			color: #fff;
			font-size: 1.7em;
			text-align: center;

			span {
				color: rgba(0, 0, 0, 0.4);
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all .3s ease;
			}
		}

		.form-holder {
			border-radius: 15px;
			background-color: #fff;
			overflow: hidden;
			margin-top: 50px;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;

			.input {
				border: 0;
				outline: none;
				box-shadow: none;
				display: block;
				height: 30px;
				line-height: 30px;
				padding: 8px 15px;
				border-bottom: 1px solid #eee;
				width: 100%;
				font-size: 12px;

				&:last-child {
					border-bottom: 0;
				}

				&::-webkit-input-placeholder {
					color: rgba(0, 0, 0, 0.4);
				}
			}
		}

		.submit-btn {
			background-color: rgba(0, 0, 0, 0.4);
			color: rgba(256, 256, 256, 0.7);
			border: 0;
			border-radius: 15px;
			display: block;
			margin: 15px auto;
			padding: 15px 45px;
			width: 100%;
			font-size: 13px;
			font-weight: bold;
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;

			&:hover {
				transition: all .3s ease;
				background-color: rgba(0, 0, 0, 0.8);
			}
		}
	}

	.login {
		position: absolute;
		top: 20%;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		z-index: 5;
		-webkit-transition: all .3s ease;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: -20px;
			-webkit-transform: translate(-50%, 0);
			background-color: #fff;
			width: 200%;
			height: 250px;
			border-radius: 50%;
			z-index: 4;
			-webkit-transition: all .3s ease;
		}

		.center {
			position: absolute;
			top: calc(50% - 10%);
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			width: 65%;
			z-index: 5;
			-webkit-transition: all .3s ease;

			.form-title {
				color: #000;
				font-size: 1.7em;
				text-align: center;

				span {
					color: rgba(0, 0, 0, 0.4);
					opacity: 0;
					visibility: hidden;
					-webkit-transition: all .3s ease;
				}
			}

			.form-holder {
				border-radius: 15px;
				background-color: #fff;
				border: 1px solid #eee;
				overflow: hidden;
				margin-top: 50px;
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;

				.input {
					border: 0;
					outline: none;
					box-shadow: none;
					display: block;
					height: 30px;
					line-height: 30px;
					padding: 8px 15px;
					border-bottom: 1px solid #eee;
					width: 100%;
					font-size: 12px;

					&:last-child {
						border-bottom: 0;
					}

					&::-webkit-input-placeholder {
						color: rgba(0, 0, 0, 0.4);
					}
				}
			}

			.submit-btn {
				background-color: #6B92A4;
				color: rgba(256, 256, 256, 0.7);
				border: 0;
				border-radius: 15px;
				display: block;
				margin: 15px auto;
				padding: 15px 45px;
				width: 100%;
				font-size: 13px;
				font-weight: bold;
				cursor: pointer;
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;

				&:hover {
					transition: all .3s ease;
					background-color: rgba(0, 0, 0, 0.8);
				}
			}
		}

		&.slide-up {
			top: 90%;
			-webkit-transition: all .3s ease;
		}

		&.slide-up .center {
			top: 10%;
			-webkit-transform: translate(-50%, 0%);
			-webkit-transition: all .3s ease;
		}

		&.slide-up .form-holder,
		&.slide-up .submit-btn {
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all .3s ease;
		}

		&.slide-up .form-title {
			font-size: 1em;
			margin: 0;
			padding: 0;
			cursor: pointer;
			-webkit-transition: all .3s ease;
		}

		&.slide-up .form-title span {
			margin-right: 5px;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
		}
	}
	
}
.footer{
	border: dotted 1px black;
	height: 680px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background-color:black;
}