@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

/* 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

body {

    width: 100vw;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient( 180.7deg,  rgba(0,213,255,1) 2.5%, rgba(79,255,255,1) 97.7% );
}

.item{
    border: 1px dotted black;
    height: 100px;
    background-color: #fff;
}
.navbar{
    width: 100%;
    height: 55px;
    border: none;
}
.banner{
    width: 100%;
    width: 70%;
    height: 300px;
}
.cards{
    width: 70%;
    height: 888px;
}
.infobox{
    width: 70%;
    height: 375px;
}
.footer{
    width: 100%;
    height: 60px;
}

.navbar{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    
}
.navitem{
    border: ;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 90%;
}
.logo{
    width: 60px;
}

.login{
    margin-right: 20px;
}
.navbar a{
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}
.dropdown{
    border: none;
}
.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    padding: 0px 5px;
    gap: 4px;
}
.searchtxt{
    flex-grow: 5;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 5px;
    border: none;
    height:25px;
    padding: 0px 5px;
}
.searchbtn{
    height: 25px;
    width: 30px;
    background-image: url("./image/search.png");
    flex-grow: 1;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 70%;
    border: none;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 30%;
    transition: 0.5s ease-in-out;
}
.searchbtn:hover{
    color: #fff;
    background-color: rgba(58, 53, 53, 0.844);
    background-image: url("./image/searchw.png");
}
.login,.dropdown,.fseminar{
    transition: 0.6s ease-in-out;
}
.login:hover,.dropdown:hover,.fseminar:hover{
    background-color: rgb(48, 47, 47);
    color: #fff;
}

.banner{
    display: flex;
    gap: 6px;
  
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.2px);
    -webkit-backdrop-filter: blur(0.2px);
    border: 1px solid rgba(255, 255, 255, 0.63);
    padding: 3px;
} */



/* Path: Our%20Team/team.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: aquamarine;
}

.logo {
    width: 220px;
    background-image: url("../image/CourseitBGremoved2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
    
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    height: 55px;
}   

.navbar .navitem {
    margin: 0 10px;
}

.navbar .search {
    position: relative;
}

.navbar .searchtxt {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.navbar .searchbtn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url(search.png);
    background-size: cover;
    border: none;
    cursor: pointer;
}

.navbar .dropdown {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(109.6deg, rgba(216, 78, 246, 1) 11.2%, rgba(243, 77, 77, 1) 91.1%);
}


.banner .content {
    flex: 1;
}

.banner .content .text {
    margin-bottom: 20px;
}

.banner .content .text h2 {
    font-size: 2.5em;
    color: #333;
}

.banner .content .text h2 span {
    color: #f00;
}

.banner .content .ring-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.banner .content .ring-container .ringring {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 10px solid #f00;
    animation: ring 2s infinite;
}

.banner .content .ring-container .ringring .circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #f00;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: circle 2s infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.banner .image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}


/* Team */
.team {
    height: 50vh;
    padding: 20px;
    background-color:aquamarine;
}

.team h2 {
    text-align: center;
    margin-bottom: 20px;
}

.team .team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team .member {
    text-align: center;
}

.team .member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team .member h3 {
    font-size: 1.5em;
    color: #333;
}

.team .member p {
    color:brown;
}


/* Footer */
.footer {
    padding: 20px;
    background-color:#333;
}

.footer .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .footer-item {
    text-align: center;
}

.footer .footer-item h3 {
    margin-bottom: 10px;
    color:white;
}

.footer .footer-item ul {
    list-style: none;
}

.footer .footer-item ul li {
    margin-bottom: 5px;
}

.footer .footer-item ul li a {
    text-decoration: none;
    color:black;
}