@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

body {

    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(255, 255, 255);  
    background: rgb(0,36,22);
    background: linear-gradient(34deg, rgba(0,36,22,1) 22%, rgba(0,245,255,1) 100%);
  

}
    .container_left{
        width: 80%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        background-color: rgb(255, 255, 255);  
        background: rgb(0,36,22);
        background: linear-gradient(34deg, rgba(0,36,22,1) 22%, rgba(0,245,255,1) 100%);}
    
.sidebar{
 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    padding: 1.5rem;
    width: 15rem;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.logo{
    width: 220px;
    background-image:url("../Login/CourseitBGremoved2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin-top: 10px;
    
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
   
}

.header h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.search-container {
 
    position: relative;
    margin-bottom: 1rem;
}

.search-container input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
 
    border-radius: 4px;
    outline: none;
}

.search-container svg {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;
}

.menu {
    flex: 1;
    background-color: #f3f4f6;
    
}

.menu ul {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    list-style-type: none;
    margin: 0;
}

.menu li {
    margin-bottom: 0.5rem;
    background-color: #ffffff;
    border-radius: 4px;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    color: inherit;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.profile img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: #cccccc; /* Fallback color */
}

.profile h2 {
    font-size: 1rem;
    font-weight: bold;
}

.profile a {
    font-size: 0.75rem;
    text-decoration: none;
    color: #555555;
}

.profile a:hover {
    text-decoration: underline;
}


.box{
     /* background-image: url("Screenshot\ 2024-01-23\ 203523.png"); */
   
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin: 20px;
    border-radius: 20px;
    padding: 20px; 
    background-color: #ffffff;
    color: #000000;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.Null{
    background-image: url("Screenshot\ 2024-01-23\ 203523.png");
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    margin: 20px;
    border-radius: 20px;
    padding: 20px; 
    background-color: #000000;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
/* working with cards */
.cards {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 15px;
    background-color: rgba(136, 238, 238, 0.236);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* background-color: #fff; */
    height: 100%;
    width: 80%;
}
.Heading{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100%;
    align-items: center ;
    justify-content: center;
    font-size: 30px;
    
}

.card {
    height: 380px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: scale(0.97);
}

.cardinfo {
    height: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    height: 35px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.info1,
.info2 {
    display: flex;
    font-size: 12px;
    flex-grow: 1;
    gap: 3px;
    padding: 2px;
    align-items: center;
}

.infoimg1,
.infoimg2 {
    width: 35px;
    height: 100%;
    border-radius: 50%;
}

.infoimg1 {
    background: url("./image/play.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aqua;
}

.infoimg2 {
    background: url("./image/user.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aqua;
}

.card .cardimg {
    height: 62%;
    width: 100%;
    background-image: url('./image/card1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card .cardimg1 {
    height: 100%; 
    width: 100%; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    object-fit: cover; 
    overflow: hidden;
    /* background-size: 150%; */
}




.card button {
    
    align-self: center;
    width: 90px;
    height: 30px;
    color: #fff;
    background-color: rgb(81, 78, 78);
    border: none;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
}

.card button:hover {
    transform: scale(1.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


@media only screen and (max-width:1050px) {
    .content .text {
        font-size: 20px;
    }
}